
<pdf-viewer [src]="pdfUrl"
            [original-size]="false"            
            [show-all]="false"
            [page]="currentPageNumber"
            [fit-to-page]="true"
            [zoom]="1"
            [zoom-scale]="'page-fit'"
            [render-text]="false"
            [show-borders]="true"
            [autoresize]="true"
            (after-load-complete)="afterLoadComplete($event)"
            (page-rendered)="pageRendered()"
            style="position: relative; width: 100%; height: 100%;"></pdf-viewer>


<img class="thumbnail_loader" *ngIf="thumbnailImgUrl&&isShowThumbnail" [src]="thumbnailImgUrl" />

